/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 3, 2018, 2:39:16 PM
    Author     : Debasish
*/

#maincontainer
{
    padding: 10px;
    top: 50%;
    left: 50%;
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-shadow: black 0px 0px 5px; 
}


.big_btn1,.big_btn2
{
    width: 210px;
    height: 50px;
    background-color: #555af1;
    border-radius: 5px;
    color: white;
    vertical-align: middle;
    font-family: 'calibri';
    font-size: 20px;
    padding-top: 10px;
    padding-left: 10px;
    cursor: pointer;
}

.big_btn2
{
    width: 240px;
    background-color: #167713;
}

.big_btn1:hover
{
    background-color: #909ee9;
}

.big_btn2:hover
{
    background-color: #4aa21e;
}

#head_r
{
    background-color: #267f17;
    height:50px;
    width: 100%; 
    box-shadow: 0px 0px 2px 1px black; 
}

.logo
{
    width: 70px;
    height: 70px;
    border:1px solid grey;
    border-radius: 37px;
    box-shadow: 0px 0px 2px 0px black;
    margin-top: 5px;
    margin-right: 16px;
}


#progress
{
    align-content: center;
    border-radius: 5px;
    background-color: #f4f4f4;
    padding: 10px;
    
    position: relative;
}

.cur_status,.done_status,.pending_status
{
    background-image: url("../images/s2.png");
    background-repeat: no-repeat;
    width: 150px;
    border-radius: 3px;
    font-family: 'calibri';
    height: 26px;
    color: white;
    font-size: 16px;
    text-align: left;
    padding-left: 12px;
    padding-top: 4px;
    cursor: pointer;
}

.done_status
{
    background-image: url("../images/s1.png");
}

.pending_status
{
    background-image: url("../images/s3.png");
}


#form_bg
{
    background-color: #79c4d1;
    width: 90%;
    position: relative;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    font-family: 'calibri';
    color: white;
}

#btn_bar
{
    border-top: 1px solid #cccccc;
    width: 100%;
    position: fixed;
    bottom: 0px;
    padding: 10px;
   margin-bottom: 5px;
}

.txtbx
{
    border: 1px solid #919191;
    border-radius: 3px;
    font-size: 14px;
    height: 24px;
    padding-left: 3px;
    width: 250px;
}

.btn
{
    align-content: center;
    text-align: center;
    width: 100px;
    color: white;
    font-family: "calibri";
    border-radius: 3px;
    box-shadow: 1px 1px 3px 1px #000000;
    padding: 3px;
    background-color: #0d82e3;
    cursor: pointer;
}